<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../include/navbar')%>
    <% if (editing) { %>
      <p>Editing</p>
      <p><%= item.name %></p>
    <% } %>
    
    <h1><% if (editing) { %>Edit item<% } else { %>Add item<% } %></h1>
    <form action="<% if (editing) { %>/edit-item<% } else { %>/add-item<% } %>" method="POST">
      <div class="form-control">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<% if (editing) { %><%= item.name %><%} %>"/>
      </div>
      <div class="form-control">
        <label for="description">Description</label>
        <textarea name="description" id="description" rows="5"><% if (editing) { %><%= item.description %><%} %></textarea>
      </div>
      <div class="form-control">
        <label for="category">Category</label>
        <input type="text" name="category" id="category" value="<% if (editing) { %><%= item.category %><%} %>"/>
      </div>
      <div class="form-control">
        <label for="price">Price</label>
        <input type="number" step="0.01" name="price" id="price" value="<% if (editing) { %><%= item.price %><%} %>"/>
      </div>
      <div class="form-control">
        <label for="numInStock">Number In Stock</label>
        <input type="text" name="numInStock" id="numInStock" value="<% if (editing) { %><%= item.numInStock %><%} %>"/>
      </div>
      <div class="form-control">
        <label for="imageUrl">Image</label>
        <input type="text" name="imageUrl" id="imageUrl" value="<% if (editing) { %><%= item.imageUrl %><%} %>"/>
      </div>
      <% if (editing) { %>
        <input type="hidden" name="itemId" value="<%= item._id %>">
      <% } %>
      <div class="form-actions">
        <button type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
