<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Details</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<%- include('../include/navbar')%>
    <div class="container--general">
        <h2>Name: <%= item.name %></h2>        
        <hr>
        <p>Description: <%= item.description %></p>
        <p>Category: <%= item.category %></p>
        <p>Price: <%= item.price %></p>
    </div>
</body>
</html>