<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%- include('../include/navbar')%>
    <h1>Items</h1>
    <% for (let item of items) { %>
        <ul>
            <li><%= item.name %></li>
            <li><%= item.description %></li>
            <li><%= item.category %></li>
            <li><%= item.price %></li>
        </ul>
        <div class="card-actions">
            <a href="/details/<%= item._id%>">Details</a>
            <a class="btn" href="/edit-item/<%= item._id%>">Edit</a>
            <a href="/delete-item/<%= item._id%>">Delete</a>
        </div>
    <% }; %>
</body>
</html>