<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('../include/navbar')%>
    <div class="container">
        <% for (let item of items) { %>
        <div class="item-card">
            <div>
                <p><%= item.name %></p>
            </div>
            <div>
                <img class="item-card--image" src="<%= item.imageUrl %>">
            </div>
            <div>
                <p><%= item.description %></p>
            </div>
            <div>
                <p>Price: $<%= item.price %></p>
            </div>
            <div class="item--card-actions">
                    <a href="/details/<%= item._id %>">Details</a>
                    <a class="btn" href="/edit-item/<%= item._id %>">Edit</a>
                    <a href="/delete-item/<%= item._id %>">Delete</a>
            </div>
        </div>
        <% }; %>
        <div class="item-card">
            <div>
                <p>Something Wong</p>
            </div>
            <div>
                <img class="item-card--image" src="https://markmanson.net/wp-content/uploads/2019/02/eif-3d-fits-shadow.jpg">
            </div>
            <div>
                <p>Descirption</p>
            </div>
            <div>
                <p>Price: $12</p>
            </div>
            <div class="item--card-actions">
                    <a href="/details/5d8a7ec91c9d440000990c62">Details</a>
                    <a class="btn" href="/edit-item/5d8a7ec91c9d440000990c62">Edit</a>
                    <a href="/delete-item/5d8a7ec91c9d440000990c62">Delete</a>
            </div>
        </div>
    </div>
</body>
</html>